/*NAVIGATION*/

*
{
	margin: 0;
	padding: 0;
}
ul
{
	background-color: #CFCFCF;
	list-style: none;
}
li
{
	box-sizing: border-box;
}
li:hover
{
	background-color: #AFAFAF;
	box-sizing: border-box;
}
a
{
	color: black;
	text-decoration: none;
}
ul>li>ul{
	display: none;
}
ul>li:hover>ul
{
	display: block;
}
.menu
{
	margin-bottom: 50px;
}
.menu li
{
	position: relative;

}
.menu li a
{
	display: block;
	padding: 0 14px;
	text-align: center;
	font-size: 18px;
	line-height: 38px;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.submenu
{
	display: none;
	position: absolute;
	text-align: right;
	top: 100%;
	width: 175px;
	z-index: 55;
}
.submenu li{
	position: relative;
}
.submenu a{
	border-top: 1px solid white;
}


/*MENU 1*/

.menu1
{
	padding: 0;
	text-align: justify;
	font-size: 0;
}
.menu1>li
{
	display: inline-block;
}
.left_menu{
	left: 0;
}
.right_menu{
	right: 0;
}
.menu .no_border_right
{
	border-right: none;
}
.menu1:after
{
	clear: both;
	content: "";
	display: inline-block;
	height: 0;
	width: 100%;
}

/*/MENU 1*/

/*MENU 2*/

.menu2
{
	display: table;
	padding: 0;
	width: 100%;
}
.menu2 li
{
	display: table-cell;
}
.menu2 li a{
	border-left: none;
}
.submenu2_1
{
	left: 0;
}
.submenu2_1 li
{
	background-color: #C8C8FD;
	display: block;
	text-align: left;
}
.submenu2_1 li:hover
{
	background-color: #AFAFAF;
}
.submenu2_2 li
{
	background-color: #8FCB9C;
	text-align: right;
}
.submenu2_2
{
	left: 100%;
	top: 0;
	width: 224px;
}
.submenu2_3
{
	right: 100%;
	top: 0;
	width: 106px;
}
.submenu2_3 li
{
	background-color: #CE958D;
	text-align: center;
}
.arrow_after:after{
	content: ">";
	position: relative;
	left: 40px;
}
.arrow_before:before{
	content: "<";
	position: relative;
	right: 40px;
}

/*/MENU 2*/

/*MENU 3*/

.menu3_conteiner
{
	background-color: #CFCFCF;
	box-sizing: border-box;
	height: 38px;
}
.menu3
{
	box-sizing: border-box;
	display: block;
	width: 880px;
}
.menu3>li
{
	border-right: 1px solid white;
	display: block;
	float: left;
	height: 38px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 120px;
}
.products .submenu3_2 a
{
	border-right: 1px solid white;
	border-top: 1px solid white;
}
.products .submenu3_2 li:last-child
{
	border-bottom: 1px solid white;

}
.products:hover .submenu3_2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 156px;
	width: 502px;
}
.menu3 .submenu li
{
	line-height: 38px;
}
.menu3 .submenu a
{
	width: 100%;
	display: block;
	text-align: center;
}
.menu3>li:last-child
{
	float: right;
	min-width: 180px;
	padding-top: 2px;
}
.home a:before
{
	background: url(../img/sprite.png);
	background-position: -116px 0px;
	content: "";
	display: inline-block;
	height: 30px;
	left: 9px;
	position: absolute;
	top: 1px;
	width: 28px;
}
.social_icons a
{
	background: url(../img/sprite.png);
	margin: 0;
}
.social_icons li,
.social_icons a
{
	display: inline-block;
	height: 32px;
	width: 33px;
}
.skype a
{
	background-position: 0px 0px;
}
.gmail a
{
	background-position: -37px 0px;
}
.twitter a
{
	background-position: 198px 0px;
}
.no_hover:hover
{
	background-color: #CFCFCF;
}
.social_icons{
	display: block;
}

/*/MENU 3*/


/*/NAVIGATION*/

/*TABLE*/

table
{
	margin: 0 auto;
	margin-bottom: 87px;
}
table, th, tr, td
{
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	font-size: 20px;
}
caption
{
	color: #0051AC;
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 50px;
	text-align: left;
}
caption:first-letter
{
	color: #FF0000;
}
th
{
	background-color: #AFAFAF;
	padding: 10px 0;
	text-align: center;
}
tr:nth-child(odd)
{
	background-color: #DFDFDF;
}
tr:nth-child(even)
{
	background-color: #CFCFCF;
}
td
{
	height: 38px;
}
tr:hover,
td:hover,
p:hover
{
	background-color: #BFBFBF;
}
td:first-child
{
	text-align: center;
	width: 48px;
}
td:nth-child(2)
{
	padding-left: 22px;
	width: 448px;
}
td:nth-child(3), td:nth-child(4), td:nth-child(5)
{
	padding-right: 14px;
	text-align: right;
	width: 106px;
}
th:first-child
{
	vertical-align: middle;
}
th:nth-child(2)
{
	padding-left: 22px;
	text-align: left;
}
.result
{
	padding: 10px 0;
	vertical-align: middle;
}

/*/TABLE*/

/*SPANS LIKE TABLE*/

div{
	width: 880px;
	margin: 0 auto;
	margin-bottom: 87px;
}
h2{
	font-size: 48px;
	color: #0051AC;
	margin-bottom: 51px;
}
h2:first-letter{
	color: #FF0000;
}
p{
	display: table-row;
}
span{
	display: table-cell;
	font-size: 20px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding-top: 12px;
	padding-bottom: 12px;
}
p:nth-child(odd){
	background-color: #DFDFDF;
}
p:nth-child(even){
	background-color: #CFCFCF;
}
div>.th{
	font-weight: bold;
	background-color: #AFAFAF;
}
p:hover{
	background-color: #BFBFBF;
}
span:first-child{
	padding-left: 16px;
	padding-right: 18px;
}
span:nth-child(2){
	padding-left: 21px;
	width: 459px;
}
span:nth-child(3), span:nth-child(4), span:nth-child(5){
	width: 106px;
	text-align: right;
	padding-right: 14px;
}
.th>span{
	text-align: center;
}
.th>span:nth-child(2){
	text-align: left;
}

/*/SPANS LIKE TABLE*/

/*LIST LIKE TABLE*/

dl
{
	clear: both;
	overflow: hidden;
	width: 412px;
}
dt, dd
{
	background-color: #CFCFCF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	box-sizing: border-box;
	float: left;
	height: 50px;
	margin: 0 auto;
	padding-bottom: 9px;
	padding-left: 8px;
	padding-top: 8px;
}
dt
{
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	padding-left: 48px;
	position: relative;
	width: 254px;
}
dt:before
{
	background: url(../img/sprite.png);
	content: "";
	display: inline-block;
	height: 32px;
	left: 9px;
	position: absolute;
	top: 3px;
	width: 30px;
}
dd
{
	text-align: center;
	width: 158px;
}
.Weight:before
{
	background-position: 125px 0px;
}
.Size:before
{
	background-position: 62px 0px;
}
.Power:before
{
	background-position: 94px 0px;
}
.Price:before
{
	background-position: 30px 0px;
}

/*/LIST LIKE TABLE*/

